form {
    min-width: 15em;
    width: 40vmin;

    display: flex;
    flex-direction: column;
    gap: 1em;
}

form>header {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

form label {
    display: flex;
    flex-direction: column;
}

form label>header {
    margin-left: 1em;
    font-weight: bold;
}

form input {
    padding: .5em 1em;

    border: solid 2px green;
    border-radius: 1em;

    font-size: 1em;
    outline-offset: 2px;
}

form input[type="submit"] {
    background-color: green;

    color: white;
    font-weight: bold;
}

form>footer {
    text-align: center;
}