.page-header {
    padding: 1em 2em;

    width: 100%;
    height: 10vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;
}

.logo {
    font-size: 3em;
    font-weight: bold;
}

.logo>.green {
    color: green;
}

.nav {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    gap: 1em;

    list-style: none;
}

.nav li {
    font-size: 1.5em;
}