#map {
     position: absolute;
     top: 1em;
     right: 1em;
     bottom: 1em;
     left: 1em;

     margin: 0;
     padding: 0;

     overflow: hidden;
     text-align: center;
     border-radius: 1em;
}

.clsGroen {
     background-color: lime;
}

.clsRood {
     background-color: red;
}