#map {
     margin: 0;
     padding: 0;

     width: 100%;
     height: 100%;

     text-align: center;
}

.clsGroen {
     background-color: lime;
}

.clsRood {
     background-color: red;
}

/* #status {
     position: absolute;
     top: 10px;
     left: 10px;
     z-index: 1000;
     background-color: rgba(0, 0, 0, 0.1);
} */

/* #tijd,
#messages,
#action,
#error {
     text-align: center;
     font-weight: bold;
     margin: 0;
     padding: 0;
} */